*{
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgb(42, 44, 44);
  padding: 20px;
  color:rgb(252, 252, 252);
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-light {
  width: 140px;

}

.menus {
  display: flex;
  ;
}

.item {
  margin-left: 10px;
  padding-right: 10px;
  font-size: 18px; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  transition: .5s;
  cursor: pointer;
  text-decoration: none;
  color: rgb(252, 252, 252);
}

.item:hover {
  color: rgb(213, 214, 118);
}

.ban-jpg {
  width: 350px;
  
}
.banner-container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: space-around;
  background-image: url("./images/background.png"),
   linear-gradient(45deg, rgb(41, 41, 41), rgb(99, 99, 99));
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.para {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 20px;
  margin-bottom: 15px;
  color: rgb(224, 224, 199);
}

.btn1 {
  background-color : rgb(185, 121, 98);
  padding: 10px 15px;
  color: rgb(224, 224, 199);
  border: none;
  border-radius: 11px;
  cursor: pointer;
  transition: 0.7s;
}
.btn1:hover {
  background-color:#b91a1a;
  
}

.about-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  padding: 20px;
}

.about-title {
  text-align: center;
  padding-top: 15px;
}

.title2 {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.para2 {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
  color: rgb(44, 44, 41);
}

.para2-1 {
  margin-top: 10px;
}
.para2-2 {
  margin-bottom: 10px;
}

.service-box {
  width: 230px;
  height: 280px;
  box-shadow: 4px 4px 15px gray;
  background-color: black;
  text-align: center;
  color: rgb(241, 223, 189);
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.icon {
  width: 70px;

}

.box-btn {
  background-color: gray;
  margin-top: 10px;
}

.box-title {
  margin-bottom: 15 px;
}

.box-description{
  padding: 15px;
}

.service-container {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  margin-top: 20px;

}

.our-services {
    background-image: url("./images/background.png"),
  linear-gradient(45deg, rgb(41, 41, 41), rgb(99, 99, 99));
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.service-box {
  border-radius: 15px;
}